{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="{% static 'styles/forums.css' %}">
    {% include "partials/sidebar.html"%}
</head>

<body>
    <div class='post-btn'>
        <div class='forum-title'>
            <h1> Forumly: {{ category.name }} Forum</h1>
        </div>
        <button class='add-topic-btn'>
            <div class='new-thread'>
                <a href="{% url 'new_forum_thread' category_id=category.id %}" class="btn btn-primary">
                    Add Topic +
                </a>
        </button>
        </div>
    </div>

    <div class="forum-container">
        <div class="threads-container">
            <ul>
                {% for thread in threads %}
                    <li>
                        <div class="thread-content">
                            <p class="thread-description">User:</p>
                            <p class="thread-info">{{ thread.user.username }}</p>
                        </div>
                        <div class="thread-content">
                            <p class="thread-description">Topic:</p>
                            <p class="thread-info">{{ thread.title }}</p>
                        </div>
                        <div class="thread-footer">
                            <p class="thread-date">Posted: {{ thread.created_at }}</p>
                            <button class="view-btn">
                                <a href="{% url 'forum_thread_detail' thread.id %}">View</a>
                            </button>
                        </div>
                    </li>
                {% empty %}
                    <li>No threads yet. Be the first to post!</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    
</body>
</html>