{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="{% static 'styles/forums.css' %}">
    {% include "partials/sidebar.html"%}
</head>

<body>
    <div class='post-btn'>
        <div class='forum-title'>
            <a href="{% url 'homepage' %}">
                <h1>                
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#D16D6A"><path d="m313-440 224 224-57 56-320-320 320-320 57 56-224 224h487v80H313Z"/></svg>
                Forumly: {{ category.name }} Forum</h1>
            </a>
        </div>
        <button class='add-topic-btn'>
            <div class='new-thread'>
                <a href="{% url 'new_forum_thread' category_id=category.id %}" class="btn btn-primary">
                    Add Topic +
                </a>
        </button>
    </div>

    <div class="forum-container">
        <div class="threads-container">
            <ul>
                {% for thread in threads %}
                    <li>
                        <div class="thread-content">
                            <p class="thread-description">User:</p>
                            <p class="thread-info">{{ thread.user.username }}</p>
                        </div>
                        <div class="thread-content">
                            <p class="thread-description">Topic:</p>
                            <p class="thread-info">{{ thread.title }}</p>
                        </div>
                        <div class="thread-footer">
                            <p class="thread-date">Posted: {{ thread.created_at }}</p>
                            <button class="view-btn">
                                <a href="{% url 'forum_thread_detail' thread.id %}">View</a>
                            </button>
                        </div>
                    </li>
                {% empty %}
                    <li>
                        <strong style="font-size: 1.9em;">No Topics Posted Yet</strong>
                        You can add a topic in here yourself via “Add Topic +” button above...
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    
</body>
</html>