{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="{% static 'styles/new_thread.css' %}">
    {% include "partials/sidebar.html" %}
    <link rel="shortcut icon" href="#">
</head>
<body>
    <div class='post-btn'>
        <div class='forum-title'>
            <a href="{% url 'forum_threads' category.id %}">
                <h1>                
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#D16D6A"><path d="m313-440 224 224-57 56-320-320 320-320 57 56-224 224h487v80H313Z"/></svg>
                Forumly: {{ category.name }} Forum</h1>
            </a>
        </div>
        </div>
    </div>

    <div class='nueva-forum-container'>
        <div class='forum-container'>
            <div class="new-forum-container">
                {% if error %}
                    <p class="error">{{ error }}</p>
                {% endif %}
                <form method="post" class="add-thread">
                    {% csrf_token %}
                    <label for="title">Topic:</label>
                    <input type="text" name="title" id="title" required placeholder="Enter the topic title">

                    <label for="content">Content:</label>
                    <textarea name="content" id="content" required placeholder="Enter the content"></textarea>

                    <button type="submit" class="submit-btn">Add +</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
