{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>User Data</title>
    <link rel="stylesheet" href="{% static 'styles/user_data.css' %}">
  {% include "partials/sidebar.html" %}
</head>
<body>
    <div class="user-profiles">
        <div class="user-profiles-container">
            <ul class="profile-ul">
                {% for user in users%}
                <li>
                    <div class="profile">
                        <p class="username"> Username: {{ user.user.username }}</p>
                        <p class="age"> Age: {{ user.age }} </p>
                        <button class="profile-btn" onclick="openStatsModal(this)"> QL Statistics </button>
                            <div class="modal">
                                <span class="close-button" onclick="closeStatsModal(this)">&times;</span>
                                <p class="comments"> {{ user.category_comment_count }} </p>
                                <p class="likes"> {{ user.category_like_count }} </p>
                                <p class="dislikes"> {{ user.category_dislike_count }} </p>
                            </div>                        
                    </div>
                </li>
                {% empty %}
                <li>
                    <p> No users. </p>
                </li>
                {% endfor %}
            </ul>
        </div> 
    </div>
</body>

<script>
    function openStatsModal(button) {
        const modal = button.nextElementSibling;
        modal.classList.add("show");
    }
    
    function closeStatsModal(closeBtn) {
        const modal = closeBtn.closest('.modal');
        modal.classList.remove("show");
    }
    
</script>
</html>
